.details-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.details-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.details-panel {
    -fx-background-color: #262626;
    -fx-padding: 10;
}

.details-heading {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #dcdccc;
}

.field-name {
    -fx-text-fill: #6f8fba;
    -fx-font-weight: bold;
}

.field-value {
    -fx-text-fill: #dcdccc;
}

.note-box {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 2;
    -fx-padding: 7 10 7 10;
    -fx-text-fill: white;
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
